@media (max-width:500px) {
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul{
        padding: 0.5rem;
    }
}

#section1 .items{
    display: block;
}

#section1 .items .item{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

#section1 .items .item i {
    margin-left: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

#section3 .items div:last-child{
    display: none;
}

#contact{
    padding: 1.25rem;
}

#section2{
    display: flex;
    flex-direction: column;
}

#selection2 .items{
    flex-basis: 200px;
}